/******** start style about ********/
:host {
    display: block;
    position: relative;
    .overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2000;
        display: none;
        position: absolute;
        text-align: center;
        background-color: #fff;
        border-top: 1px solid #e4e4e4;
        h2 {
            margin: 405.5px 0;
            display: inline-block;
            color: $mainColorText;
        }
        i {
            font-size: 30px;
            margin-left: 15px;
            display: inline-block;
            color: $mainColorText;
            animation: rote 1s linear infinite;
        }
    }
}
@keyframes rote {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.about {
    margin-bottom: 70px;
    .container {
        border-bottom: 2px solid #eee;
        .title {
            margin: 20px 0;
            text-align: center;
            i {
                margin: 0 10px;
                font-size: 2.5rem;
                display: inline-block;
                color: $mainColorText;
            }   
            h1 {
                display: inline-block;
                text-transform: $text-upper;
            }
        }
        .us {
            font-size: 20px;
            margin-bottom: 10px;
            padding-bottom: 5px;
            display: inline-block;
            border-bottom: 2px solid $mainColorText;
            i {
                color: $mainColorText;
            }
            a {
                color: #000;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .cont-img img  {
            max-width: 100%;
            height: auto;
        }
        .cont {
            align-items: flex-end;
            .card-info {
                margin: 50px 0;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                &:hover .text {
                    bottom: 0;
                }
                .cont-img img {
                    width: 100%;
                    height: auto;
                    max-width: 100%;
                }
                .text {
                    bottom: -200%;
                    left: 0;
                    right: 0;
                    width: 100%;
                    padding: 5px;
                    position: absolute;
                    background-color: #0aacdba3;
                    @include browse(transition, all .4s ease-in-out, webkit moz ms o);
                    p {
                        color: #fff;
                        font-weight: 600;
                        text-align: center;
                        display: inline-block;
                        margin-bottom: 0;
                    }
                    i {
                        color: #575989;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
/******** end style about ********/

/******** start style contact ********/
.contact {
    .title {
        margin: 20px 0;
        text-align: center;
        i {
            margin: 0 10px;
            font-size: 2.5rem;
            display: inline-block;
            color: $mainColorText;
        }   
        h1 {
            display: inline-block;
            text-transform: $text-upper;
        }
    }
    form {
        height: 600px;
        padding: 20px 10px;
        @include browse(border-radius, 3px, o ms moz webkit);
        @include browse(box-shadow, 0px 0px 3px #e0e0e0, o ms moz webkit);
        .input {
            label {
                color: $mainColorText;
                text-transform: capitalize;
            }
            input[type=text] {
                width: 75%;
                border: none;
                height: 35px;
                display: block;
                font-size: 20px;
                background: none;
                border: 1px solid;
                @include browse(border-radius, 3px, o ms moz webkit);
            }
        }
        .text-ar {
            margin-top: 50px;
            label {
                color: $mainColorText;
                text-transform: capitalize;
            }
            textarea {
                width: 100%;
                display: block;
                @include browse(border-radius, 3px, o ms moz webkit);
            }
        }
    }
}
/******** end style contact ********/