<!-- start overlay -->
<div class="overlay" @overlay>
    <h2>Loading...</h2>
    <i class="fas fa-cog"></i>
</div>
<!-- end overlay -->
<div class="page-empty">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center error dir-right">
                <i class="fal fa-exclamation-triangle"></i>
                <div class="title">
                    <p i18n>
                        Some time an error occurs!
                        If you are a genius solve this error
                    </p>
                    <i class="far fa-smile-wink"></i>
                </div>
            </div>
        </div>
    </div>
</div>