:host {
    display: block;
    position: relative;
    .overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2000;
        display: none;
        position: absolute;
        text-align: center;
        background-color: #fff;
        border-top: 1px solid #e4e4e4;
        h2 {
            margin: 405.5px 0;
            display: inline-block;
            color: $mainColorText;
        }
        i {
            font-size: 30px;
            margin-left: 15px;
            display: inline-block;
            color: $mainColorText;
            animation: rote 1s linear infinite;
        }
    }
}
@keyframes rote {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.servers {
    .title {
        margin: 20px 0;
        text-align: center;
        i {
            margin: 0 10px;
            font-size: 2.5rem;
            display: inline-block;
            color: $mainColorText;
        }   
        h1 {
            display: inline-block;
            text-transform: $text-upper;
        }
    }
    .websit, .app-mobil, .securt, .host {
        padding: 0 15px;
        margin-bottom: 40px;
        background-color: #fff;
        box-shadow: 0px 1px 5px #dcdcdc;
        .title-s {
                padding-top: 15px;
                text-align: center;
            i {
                margin: 0 8px;
                color: $mainColorText;
                display: inline-block;
            }
            h4 {
                font-size: 15px;
                display: inline-block;
                text-transform: uppercase;
            }
        }
        ul {
            list-style-type: none;
            padding: 0;
            li::before {
                content: '\f058';
                font-weight: 900;
                margin-right: 5px;
                color: $mainColorText;
                font-family: $awesome-pro;
            }
        }
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .cont-img {
                width: 250px;
                img {
                    max-width: 100%;
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}