/*Start Variables Media Query*/
/*End Variables Media Query*/
/*Start Variables Colors Pages*/
/*End Variables Colors Pages*/
/*Start Variables Float Diraction*/
/*End Variables Float Diraction*/
/*Start Variables Helprs*/
/*Start Variables Helprs*/
/******** start style header ********/
header {
  background-color: #1f1f1f05;
}
header nav {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 50px;
}
header nav .navbar-brand {
  font-weight: 500;
  /*$name vars sass*/
  text-transform: uppercase;
  position: relative;
}
header nav .navbar-brand::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  opacity: 0;
  /*$name vars sass*/
  background-color: #0dafde;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
header nav .navbar-brand.active, header nav .navbar-brand:hover {
  /*$name vars sass*/
  color: #0dafde;
}
header nav .navbar-brand.active::before, header nav .navbar-brand:hover::before {
  opacity: 1;
}
header nav .navbar-nav li {
  margin: 5px 15px;
}
header nav .navbar-nav li a {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  /*$name vars sass*/
  text-transform: uppercase;
  position: relative;
}
header nav .navbar-nav li a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  opacity: 0;
  /*$name vars sass*/
  background-color: #0dafde;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
header nav .navbar-nav li a.active, header nav .navbar-nav li a:hover {
  color: #0dafde;
}
header nav .navbar-nav li a.active::before, header nav .navbar-nav li a:hover::before {
  opacity: 1;
}
header .des {
  margin: 20px 0;
}
header .des a {
  font-weight: 500;
  text-decoration: none;
  /*$name vars sass*/
  color: #0dafde;
  text-transform: uppercase;
}
header .des h1 {
  font-weight: 700;
  margin: 15px 0;
}
header .des p {
  margin: 25px 0;
}
header .des button {
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 5px 35px;
  /*$name vars sass*/
  text-transform: uppercase;
  background-color: #0dafde;
}
header .img {
  text-align: center;
}
header .img img {
  max-width: 100%;
  height: auto;
}

/******** end style header ********/
/******** start style footer ********/
footer {
  padding: 30px 0 0 20px;
  background-color: #0dafde;
}
footer .pre-footer {
  border-bottom: 2px solid #fefefe7a;
}
footer .pre-footer ul {
  list-style-type: none;
  padding: 0;
}
footer .pre-footer ul li {
  margin-bottom: 5px;
}
footer .pre-footer ul li:first-of-type {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .pre-footer ul li a {
  text-decoration: none;
  color: #fff;
}
footer .pre-footer .link-media a {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-decoration: none;
}
footer .pre-footer .link-media a i {
  font-weight: 100;
}
footer .pre-footer .link-media ul li {
  margin-right: 10px;
  display: inline-block;
}
footer .pre-footer .link-media ul li:first-of-type {
  margin-bottom: 0;
}
footer .cpy {
  padding: 15px 0;
}
footer .cpy a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/******** end style footer ********/
/******** start style other media ********/
@media only screen and (max-width: 768px) {
  .nav-item {
    margin: 5px 0px !important;
  }
}
/******** start style other media ********/

/*# sourceMappingURL=app.component.css.map */
