<!-- start overlay -->
<div class="overlay" @overlay>
    <h2>Loading...</h2>
    <i class="fas fa-cog"></i>
</div>
<!-- end overlay -->
<div class="servers">
    <div class="container">
        <div class="row">
                <div class="col-sm-12 title dir-right">
                <i class="fas fa-server"></i>
                <h1 i18n>
                    servers
                </h1>
            </div>
            <div class="col-sm-12 col-md-8 mx-auto mt-0">
                <div class="websit">
                    <div class="title-s dir-right">
                        <i class="fas fa-browser"></i>
                        <h4 i18n>
                            Websit
                        </h4>
                    </div>
                    <div class="content fx-row-r">
                        <ul>
                            <li i18n>item 1</li>
                            <li i18n>item 2</li>
                            <li i18n>item 3</li>
                            <li i18n>item 4</li>
                        </ul>
                        <div class="cont-img">
                            <img src="../../../assets/image/websit.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 mx-auto mt-0">
                <div class="app-mobil">
                    <div class="title-s dir-right">
                        <i class="fas fa-mobile"></i>
                        <h4 i18n>
                            Mobil app
                        </h4>
                    </div>
                    <div class="content fx-row-r">
                        <ul>
                            <li i18n>item 1</li>
                            <li i18n>item 2</li>
                            <li i18n>item 3</li>
                            <li i18n>item 4</li>
                        </ul>
                        <div class="cont-img">
                            <img src="../../../assets/image/app-mobil.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 mx-auto mt-0">
                <div class="securt">
                    <div class="title-s dir-right">
                        <i class="fas fa-shield-check"></i>
                        <h4 i18n>
                            security
                        </h4>   
                    </div>
                    <div class="content fx-row-r">
                        <ul>
                            <li i18n>item 1</li>
                            <li i18n>item 2</li>
                            <li i18n>item 3</li>
                            <li i18n>item 4</li>
                        </ul>
                        <div class="cont-img">
                            <img src="../../../assets/image/securt.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8"></div>
            <div class="col-sm-12 col-md-8 mx-auto mt-0">
                <div class="host">
                    <div class="title-s dir-right">
                        <i class="fas fa-cloud-upload-alt"></i>
                        <h4 i18n>
                            Hosting
                        </h4>
                    </div>
                    <div class="content fx-row-r">
                        <ul>
                            <li i18n>item 1</li>
                            <li i18n>item 2</li>
                            <li i18n>item 3</li>
                            <li i18n>item 4</li>
                        </ul>
                        <div class="cont-img">
                            <img src="../../../assets/image/host.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8"></div>
        </div>
    </div>
</div>