/******** start style page-empty ********/
:host {
    display: block;
}
.page-empty {
    .error {
        margin: 150px 0;
        .fa-exclamation-triangle {
            font-size: 310px;
            color: #d6d6d6;
        }
        p {
            margin-top: 50px;
            color: $mainColorText;
            i {
                font-size: 25px;
                margin-left: 10px;
            }
        }
    }
}
/******** end style page-empty ********/