/******** start style page-empty ********/
:host {
    display: block;
    position: relative;
    .overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2000;
        display: none;
        position: absolute;
        text-align: center;
        background-color: #fff;
        border-top: 1px solid #e4e4e4;
        h2 {
            margin: 405.5px 0;
            display: inline-block;
            color: $mainColorText;
        }
        i {
            font-size: 30px;
            margin-left: 15px;
            display: inline-block;
            color: $mainColorText;
            animation: rote 1s linear infinite;
        }
    }
}
@keyframes rote {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.page-empty {
    .error {
        margin: 150px 0;
        .fa-exclamation-triangle {
            font-size: 310px;
            color: #d6d6d6;
        }
        .title {
            margin-top: 50px;
            p {
                display: inline-block;
                color: $mainColorText;
            }
            i {
                font-size: 25px;
                margin-left: 10px;
                display: inline-block;
            }
        }
    }
}
/******** end style page-empty ********/