/*Start Variables Media Query*/
/*End Variables Media Query*/
/*Start Variables Colors Pages*/
/*End Variables Colors Pages*/
/*Start Variables Float Diraction*/
/*End Variables Float Diraction*/
/*Start Variables Helprs*/
/*End Variables Helprs*/
/*Start Variables Font*/
/******** start style about ********/
:host {
  display: block;
  position: relative;
}
:host .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: none;
  position: absolute;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #e4e4e4;
}
:host .overlay h2 {
  margin: 405.5px 0;
  display: inline-block;
  color: #0dafde;
}
:host .overlay i {
  font-size: 30px;
  margin-left: 15px;
  display: inline-block;
  color: #0dafde;
  animation: rote 1s linear infinite;
}

@keyframes rote {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about {
  margin-bottom: 70px;
}
.about .container {
  border-bottom: 2px solid #eee;
}
.about .container .title {
  margin: 20px 0;
  text-align: center;
}
.about .container .title i {
  margin: 0 10px;
  font-size: 2.5rem;
  display: inline-block;
  color: #0dafde;
}
.about .container .title h1 {
  display: inline-block;
  text-transform: uppercase;
}
.about .container .us {
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid #0dafde;
}
.about .container .us i {
  color: #0dafde;
}
.about .container .us a {
  color: #000;
}
.about .container .us a:hover {
  text-decoration: none;
}
.about .container .cont-img img {
  max-width: 100%;
  height: auto;
}
.about .container .cont {
  align-items: flex-end;
}
.about .container .cont .card-info {
  margin: 50px 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.about .container .cont .card-info:hover .text {
  bottom: 0;
}
.about .container .cont .card-info .cont-img img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.about .container .cont .card-info .text {
  bottom: -200%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 5px;
  position: absolute;
  background-color: #0aacdba3;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.about .container .cont .card-info .text p {
  color: #fff;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  margin-bottom: 0;
}
.about .container .cont .card-info .text i {
  color: #575989;
  display: inline-block;
}

/******** end style about ********/
/******** start style contact ********/
.contact .title {
  margin: 20px 0;
  text-align: center;
}
.contact .title i {
  margin: 0 10px;
  font-size: 2.5rem;
  display: inline-block;
  color: #0dafde;
}
.contact .title h1 {
  display: inline-block;
  text-transform: uppercase;
}
.contact form {
  height: 600px;
  padding: 20px 10px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0px 0px 3px #e0e0e0;
  -o-box-shadow: 0px 0px 3px #e0e0e0;
  -ms-box-shadow: 0px 0px 3px #e0e0e0;
  -moz-box-shadow: 0px 0px 3px #e0e0e0;
  -webkit-box-shadow: 0px 0px 3px #e0e0e0;
}
.contact form .input label {
  color: #0dafde;
  text-transform: capitalize;
}
.contact form .input input[type=text] {
  width: 75%;
  border: none;
  height: 35px;
  display: block;
  font-size: 20px;
  background: none;
  border: 1px solid;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.contact form .text-ar {
  margin-top: 50px;
}
.contact form .text-ar label {
  color: #0dafde;
  text-transform: capitalize;
}
.contact form .text-ar textarea {
  width: 100%;
  display: block;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/******** end style contact ********/
/******** start style other media ********/
/******** start style other media ********/

/*# sourceMappingURL=about.component.css.map */
